@page "/counter"


<div class="row">
    <div class="col alert alert-secondary text-center">
        <h1>Counter</h1>
    </div>
</div>

<div class="row">
    <div class="col-6 text-left">
        <button class="btn btn-primary p-3" @onclick="IncrementCount">Click me</button>
    </div>
    <div class="col-6 text-right">
        <div style="font-size:50px">@currentCount</div>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <input type="number" class="form-control-lg" @bind="currentCount" 
           @* @bind-value="currentCount" @bind-value:event="onchange"*@/> 
            <!--bind привязка данных (создает в автоматическом режиме событие и делегат привязывает к этому событию)  
                В bind автоматически создается Onchange
        bind-value исп. если хотим что сработаело свое собитие(не onchange ф свое кастомное)-->
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
   
}
