@page "/"

@*<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@
<div class = "row">
    <div class = "col text-center">
        <h1>Welcome to game industry</h1>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK database</h2>
    </div>
</div>

<GameListTable  Games="games"/>
<IndividualGame Game="games[0]" />
@code{
    List<Game> games; // не свойство ,а обычное поле 
    protected override void OnInitialized() 
    { 
        games = new List<Game>()
        {
            new Game()
            {
                Name = "Farming simulator 2019",
                Genre = "Simulator",
                ReleaseDate = new DateTime(2018,11,19)
            },
             new Game()
            {
                Name = "Ведьмак",
                Genre = "Action RPG",
                ReleaseDate = new DateTime(2015,05,18)
            },
             new Game()
            {
                Name = "Destroy all humans",
                Genre = "Action adventure",
                ReleaseDate = new DateTime(2020,07,28)
            },
        };
    }
}